*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-image:
    repeating-linear-gradient(0deg, rgb(0 0 0 / 0.06) 0, rgb(0 0 0 / 0.06) 1px, transparent 1px, transparent 20px),
    repeating-linear-gradient(90deg, rgb(0 0 0 / 0.06) 0, rgb(0 0 0 / 0.06) 1px, transparent 1px, transparent 20px);
}

#page {
  position: relative;
  /* mock A4 page size */
  width: 210mm;
  min-height: 297mm;
  /* mock A4 page margin */
  padding: 10mm;

  margin: 3rem auto;
  background-color: white;
  box-shadow:
    2px 2px 12px -2px rgb(0 0 0 / 0.15),
    0 24px 48px -12px rgb(0 0 0 / 0.25);

  &::before {
    position: absolute;
    inset: auto 4px 4px auto;
    content: 'A4 paper size';
    color: #0008;
    font-size: 0.85rem;
    line-height: 1;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  color: rgb(38 38 38);

  thead {
    background-color: #f1f1f1;
    color: black;
  }

  th,
  td {
    padding: 12px;
    border: 1px solid #ddd;
  }
}

#print-action {
  display: block;
  font-size: 1.2rem;
  position: sticky;
  padding: 0.6rem 1.6rem;
  margin: 1rem 0 0 auto;
  inset-block-end: 1rem;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 0.25);
  background-color: black;
  color: white;
  border: none;
  border-radius: 9999px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(45 45 45);
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgb(0 0 0 / 0.25);
  }
}

.text {
  font-family: 'Bitcount Grid Double', system-ui, sans-serif;
  font-size: 14pt;
  color: red;
}

#beforeAfter {
  &::before {
    content: '::before';
    color: #ff720a;
    padding: 8px;
  }
  &::after {
    content: '::after';
    color: #fc9a00;
    padding: 8px;
  }
}

#firstLetterline {
  line-height: 1;
  &::first-letter {
    font-size: 2rem;
  }
  &::first-line {
    font-weight: bold;
  }
}

#inputPlaceholder {
  &::placeholder {
    color: #00786f;
  }
}

#inputFileSelectorButton::file-selector-button {
  color: #ddd;
  background-color: rgb(100 100 100);
  border: 1px solid;
}

#details[open] {
  summary {
    display: list-item;
    &::marker {
      content: '❤️';
    }
  }
  &::details-content {
    margin-inline-start: 1.5rem;
    padding: 4px;
    background-color: #a29bfe;
  }
}
