.DS_Store
node_modules
dist

# Build mid product
.cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
coverage
__snapshots__

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/__screenshots__
